[submodule "archives"]
	path = archives
	url = https://github.com/robotronik/archives
	branch = master
[submodule "asservissement"]
	path = Informatique/asservissement
	url = https://github.com/robotronik/asservissement
	branch = master
[submodule "cartographie"]
	path = Informatique/cartographie
	url = https://github.com/robotronik/cartographie
	branch = master
[submodule "common_code"]
	path = Informatique/common_code
	url = https://github.com/robotronik/common_code
	branch = master
[submodule "communication"]
	path = communication
	url = https://github.com/robotronik/communication
	branch = master
[submodule "electronique"]
	path = electronique
	url = https://github.com/robotronik/electronique
	branch = master
[submodule "mecanique"]
	path = mecanique
	url = https://github.com/robotronik/mecanique
	branch = master
[submodule "projetdegroupe"]
	path = projetdegroupe
	url = https://github.com/robotronik/projetdegroupe
	branch = master
[submodule "strategie"]
	path = Informatique/strategie
	url = https://github.com/robotronik/strategie
	branch = master
[submodule "stm32f407"]
	path = Informatique/stm32f407
	url = https://github.com/robotronik/stm32f407
	branch = master
[submodule "Informatique/hardware"]
	path = Informatique/hardware
	url = https://github.com/robotronik/hardware
	branch = master
[submodule "Informatique/simulation"]
	path = Informatique/simulation
	url = https://github.com/robotronik/simulation
	branch = master
[submodule "Informatique/olinpiades"]
	path = Informatique/olinpiades
	url = https://github.com/robotronik/olinpiades
